.spinner {
  position: fixed !important;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.page-container {
  margin: 20px;
  
  /* position: absolute;
  margin-left: 20x; */
  /* background-color: #75c0d1;
  display: flex;
  justify-content: center; */
  /* align-items: center;  */
  
}

.btn-common {
  text-align: center;
  color: white;
  font-size: 24pt;
  
  height: 130px;
  width: 340px;
  /* border-radius: 1em; */
  border-width: 5;
  cursor: pointer;

}


.btn-login {
  background-color: rgb(219, 21, 125);
  border-color: rgb(131, 9, 73);
}


.btn-createaccount {
  margin-left: 140px;
  background-color: rgb(233,148, 58);
  border-color: rgb(203, 128, 49);
  
}

.btn-generatePubKey {
  background-color: white;
  height: 60px;
  /* border-radius: 0.5em; */
  margin-left: 10px;

}
.btn-inline{
  background-color: rgba(233, 148, 58, 0.76);
  /* color: white; */
  height: 35px;
  margin-left:10px;
  border-color: rgb(203, 128, 49);
  cursor: pointer;
}

.btn-upload {
  margin-top: 50px;
  background-color: rgb(219, 21, 125);
  border-color: rgb(131, 9, 73);
}
.input-common {
  font-size: 24pt;
  align-self: center;
  /* margin-top: 20%; */

 
  height: 60px;
  width: 70%;
  /* border-radius: 0.5em; */
  border-width: 5;

  padding: 10x;
}

.right_align{
  float: right;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 40%;
  margin-right: 20px;
}
.inline_dislay{
  display:inline;
}

td {
  border: 1px solid rgb(219, 21, 125);
  text-align: left;
  padding: 8px;
}

th {
  background-color: rgb(219, 21, 125);
  color: white;
  text-align: left;
  font-size: 16pt;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: rgba(219, 21, 125, 0.11);
}

.inputfile {
  background-color: rgba(219, 21, 125, 0.11);
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
